@model HelloWorld.Models.ViewModels.ServiceLogVM

@{
    ViewBag.Title = "Details";
    ViewBag.Sidemenu = true;
}

<h2>Details</h2>

<div>
    <h4>ServiceLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExecutionStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExecutionStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExecutionEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExecutionEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceVersion.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceVersion.Version)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
