@model HelloWorld.Models.ViewModels.OverviewVM
@{
    ViewBag.Title = "Index";
    ViewBag.Sidemenu = true;
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script type="text/javascript">
    function chooseCate(cateId) {
        $.ajax({
            url: "@Url.Action("ListService", "Overview")",
            type: this.method,
            contentType: 'application/json; charset=utf-8',
            data: {
                'categoryId': cateId,
                'searchString': document.getElementById('searchinput').value,
                'serviceCost': document.getElementById('serviceCost').value,
                'availability': document.getElementById('availability').value,
                'responseTime': document.getElementById('responseTime').value
            },
            success: function (result) {
                $('#ajaxtarget').html(result);
            }
        });
    }
</script>
@functions{
    public HtmlString PrintCategory(ICollection<HelloWorld.Models.ViewModels.ServiceCategoryVM> list, HelloWorld.Models.ViewModels.ServiceCategoryVM parent)
    {

        string result = String.Empty;
        foreach (var item in list)
        {
            result += "<li>";
            if (item.ChildrenCategory.Count > 0)
            {
                result += "<span class=\"node - toggle\"></span>";
            }
            if (item.ServiceCategoryParent == null && parent == null)
            {
                result += "<span class=\"leaf\">" + "<a onclick=\"chooseCate(" + @item.ServiceCategoryId + ")\" > " + item.CategoryName + "</a>" + "</span>";
                //result += "<span class=\"leaf\">" + @Ajax.ActionLink(
                //    linkText: item.CategoryName
                //    , routeValues: new { categoryId = @item.ServiceCategoryId }
                //    , actionName: "ListService"
                //, ajaxOptions: new AjaxOptions
                //{
                //    UpdateTargetId = "ajaxtarget",
                //    InsertionMode = InsertionMode.Replace
                //}) + "</span>";
            }
            else if (parent != null && parent.ChildrenCategory.Contains(item))
            {
                result += "<span class=\"leaf\">" + "<a onclick=\"chooseCate(" + @item.ServiceCategoryId + ")\" > " + item.CategoryName + "</a>" + "</span>";
            }

            if (item.ChildrenCategory.Count > 0)
            {
                if (item.ParentCategory == null)
                {
                    result += "<ul>";
                    result += PrintCategory(item.ChildrenCategory, item);
                    result += "</ul>";
                }
                else if (parent != null && parent.ChildrenCategory.Contains(item))
                {
                    result += "<ul>";
                    result += PrintCategory(item.ChildrenCategory, item);
                    result += "</ul>";
                }
            }
            result += "</li>";
        }

        return new HtmlString(result);
    }
}

<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/metro")
    @Scripts.Render("~/bundles/metro")

</head>
<body>
    <div>

    </div>

    <div class="gird">
        <div class="row cells3">
            <div class="cell colspan3" style="align-content:center;">
                @using (Ajax.BeginForm(actionName: "ListService", controllerName: "Overview", ajaxOptions: new AjaxOptions { UpdateTargetId = "ajaxtarget" }))
            {
                    @Html.AntiForgeryToken()
                    <div style="text-align:center">
                        <div class="btn-group">
                            @Html.TextBox("searchString", string.Empty, new { @class = "form-control", style = "display:inline;", @id = "searchinput" , @placeholder = "Service Name"})
                            <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                        </div>
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                    <div style="text-align:center;">
                        @Html.TextBox("serviceCost", string.Empty, new { @class = "form-control", style = "display:inline;", @placeholder= "Service Cost", @id = "serviceCost" })
                        @Html.TextBox("availability", string.Empty, new { @class = "form-control", style = "display:inline;", @placeholder = "Availability", @id = "availability" })
                        @Html.TextBox("responseTime", string.Empty, new { @class = "form-control", style = "display:inline;", @placeholder = "Response Time", @id = "responseTime" })
                    </div>
                }
            </div>
        </div>
    </div>
    <hr />
    <table>
        <tr>
            <td width="150px;" valign="top">
                <div class="treeview" data-role="treeview">
                    <ul>
                        @PrintCategory(Model.Categories, null)
                    </ul>
                </div>
            </td>
            <td valign="top" style="min-width:1024px;">
                <div id="ajaxtarget">Please select category!</div>
            </td>
        </tr>
    </table>

</body>
</html>
