@model IEnumerable<HelloWorld.Models.ViewModels.ServiceVM>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceProvider.ProviderName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProvider.ProviderName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Services", new { id = item.ServiceId }, string.Empty) |
                @Html.ActionLink("Details", "Details", "Services", new { id = item.ServiceId }, string.Empty) |
                @Html.ActionLink("Delete", "Delete", "Services", new { id = item.ServiceId }, string.Empty)
            </td>
        </tr>
    }

</table>
