@model IEnumerable<HelloWorld.Models.ServiceVersion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndpointUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WSDL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdaptorURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Service.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndpointUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WSDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Availability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdaptorURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceVersionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceVersionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceVersionId })
        </td>
    </tr>
}

</table>
