@model HelloWorld.Models.ViewModels.OperationVM

@{
    ViewBag.Title = "Create";
    ViewBag.Sidemenu = true;
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        $("#add_field_button").click(function (e) { //on add input button click
            e.preventDefault();
            $("#insert").before('<div class="form-group"><label class="control-label col-md-2"></label><div class="col-md-2"><input type="text" class="form-control" placeholder="Name" name="name"></div><div class="col-md-2"><input type="text" class="form-control" placeholder="Type"  name="type"></div><div class="col-md-4"><input type="text" class="form-control" placeholder="Description" style="display:inline;" name="description"><img id="remove_field" src=" /Content/Resources/cross.png" height="38" width="38"/></div></div>'); //add input box
        });

        $("#input_fields_wrap").on("click", "#remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').parent('div').remove(); 
        })
    });
</script>
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="input_fields_wrap">
        <h4>Operation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceVersionId, "ServiceVersionId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ServiceVersionId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServiceVersionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OperationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OperationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Parameter</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Type" name="type">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" style="display:inline;" placeholder="Description" name="description">
                <img id="add_field_button" src=" ~/Content/Resources/add.png" height="38" width="38" />
            </div>
        </div>

        <div class="form-group"  id="insert">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
