@model PagedList.IPagedList<HelloWorld.Models.ViewModels.OperationVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Operation";
    ViewBag.Sidemenu = true;
}

<h2>Operation</h2>

@using (Html.BeginForm("Index", "Operations", FormMethod.Get))
{
    <table class="table" style="margin-bottom: 0px;">
        <tr>
            <td><input type="button" class="btn btn-default" value="Create" onclick="location.href='@Url.Action("Create", "Operations")'" /></td>
            <td align="right">
                <div class="btn-group">
                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", style = "display:inline;", @id = "searchinput" })
                    <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                </div>
                <input type="submit" value="Search" class="btn btn-default" />
            </td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Operation Name", "Index", new { sortOrder = ViewBag.SortOperationName, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Service Parameter", "Index", new { sortOrder = ViewBag.SortServiceParameter, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Version", "Index", new { sortOrder = ViewBag.SortVersion, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OperationName)
            </td>
            <td>
                @foreach (var parameter in item.Parameters)
                {
                    <p>@Html.ActionLink(parameter.ParameterName, "Details", "Parameters", new { id = parameter.ParameterId }, string.Empty)</p>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceVersion.Version)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OperationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OperationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OperationId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))