@model HelloWorld.Models.ViewModels.HomeVM

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

</head>

<body style="background-color:#1d1d1d;margin-left:auto;margin-right:auto;">
    <div class="grid">
        <div class="row">
            <div class="cell"><p style="color:white;font-size:50px;text-align:center">SERVICE REPOSITORY</p></div>
        </div>
        <div class="row">
            <div class="cell"><p style="color:white;text-align:center">An SOA repository is a database containing the software and metadata that constitute an SOA registry. The registry is an evolving, interactive, controlled-access catalog that facilitates the management of SOA (service-oriented architecture) projects, allowing businesses to easily discover and communicate with each other using Web services.</p></div>
        </div>
        <hr />
        <div class="row cells3">
            <div class="cell">
                <span class="tile-label" style="color:white;">@Model.ApplicationCount Services In Repository And Counting</span>
                <div class="tile-large">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-control-next=" " data-control-prev=" ">
                            @foreach (var item in Model.ServiceList)
                            {
                                <div class="slide" onclick="location.href='@Url.Action("Details", "Services", new { id = item.ServiceId })'">
                                    <div class="tile-large" style="margin:0px;">
                                        <div class="tile-content">
                                            <div class="image-container">
                                                <div class="frame">
                                                    @Html.Raw("<img src=\"data:image/jpeg;base64," + item.ServiceLogo + "\" />");
                                                </div>
                                                <div class="image-overlay">
                                                    <h3>@item.ServiceName</h3>
                                                    <h5>@item.ServiceDescription</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <span class="tile-label" style="color:white;">Label</span>
                <div class="tile-large">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-control-next=" " data-control-prev=" ">
                            @foreach (var item in Model.ApplicationList)
                            {
                                <div class="slide" onclick="location.href='@Url.Action("Details", "EnterpriseApplications", new { id = item.EnterpriseApplicationId })'">
                                    <div class="tile-large" style="margin:0px;">
                                        <div class="tile-content">
                                            <div class="image-container">
                                                <div class="frame">
                                                    @Html.Raw("<img src=\"data:image/jpeg;base64," + item.ApplicationLogo + "\" />");
                                                </div>
                                                <div class="image-overlay">
                                                    <h3>@item.ApplicationName</h3>
                                                    @foreach (var sv in item.UsingServices)
                                                    {
                                                        <h5>@sv.Item2</h5>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <span class="tile-label" style="color:white;">Label</span>
                <div class="tile-large">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-control-next=" " data-control-prev=" ">
                            @foreach (var item in Model.CategoryList)
                            {
                                <div class="slide" onclick="location.href='@Url.Action("Details", "ServiceCategories", new { id = item.ServiceCategoryId })'">
                                    <div class="tile-large" style="margin:0px;">
                                        <div class="tile-content">
                                            <h3 style="text-align:center;">@item.CategoryName</h3>
                                            <hr style="color:black;"/>
                                            @foreach (var sv in item.Services)
                                            {
                                                <h5 style="text-align:center;">@sv.ServiceName</h5>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="tile-group">
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
        </div>
    </div>
</body>
</html>
