@model HelloWorld.Models.ViewModels.EnterpriseApplicationVM

@{
    ViewBag.Title = "Details";
    ViewBag.Sidemenu = true;
}

<h2>Details</h2>

<div>
    <h4>Enterprise Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specifications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsingServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsingServices)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnterpriseApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
