@model PagedList.IPagedList<HelloWorld.Models.ViewModels.EnterpriseApplicationVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Enterprise Application";
    ViewBag.Sidemenu = true;
}

<h2>Enterprise Application</h2>

@using (Html.BeginForm("Index", "EnterpriseApplications", FormMethod.Get))
{
    <table class="table" style="margin-bottom: 0px;">
        <tr>
            <td><input type="button" class="btn btn-default" value="Create" onclick="location.href='@Url.Action("Create", "EnterpriseApplications")'" /></td>
            <td align="right">
                <div class="btn-group">
                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", style = "display:inline;", @id = "searchinput" })
                    <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                </div>
                <input type="submit" value="Search" class="btn btn-default" />
            </td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Application Name", "Index", new { sortOrder = ViewBag.SortApplicationName, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Specifications", "Index", new { sortOrder = ViewBag.SortSpecifications, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("UsingServices", "Index", new { sortOrder = ViewBag.SortUsingServices, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specifications)
            </td>
            <td>
                @foreach (Tuple<int,string> element in item.UsingServices)
                {
                    <p>
                        @Html.ActionLink(element.Item2, "Details", "ServiceVersions",new { @id= element.Item1 },string.Empty)
                    </p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EnterpriseApplicationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EnterpriseApplicationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EnterpriseApplicationId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))